.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    font-size: calc(0.5em + 1vw);
    border-radius: 20px;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/***************************************************************
* Navigation styles
***************************************************************/
#focused {
    border-bottom: solid 3px #66fcf1;
}

.nav {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 0px 0px 10px 10px;
    border-top: solid 1px #45a29e;

    background-color: #1f2833;
}

.navBtn_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navBtn {
    padding: 15px;
    width: 15%;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.navBtn:hover {
    color: #a3a3a3;
}

.content {
    width: 100%;
}


/***************************************************************
* Profile Tab styles
***************************************************************/
.settings_container {
    height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profileHeader {
    font-size: 3rem;
}

.profileBody {
    font-size: 1.5rem;
}

.section_title {
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid #45a29e;
    width: 30%;
    margin-bottom: 10px;
}

.deleteAccBtn {
    background-color: #FF2323;
    border: none;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 1rem;
}

.deleteAccBtn:hover {
    background-color: #FF7070;
}

/***************************************************************
* Projects styles
***************************************************************/
.projects_container {
    width: 100%;
}

.project_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
}

.project_count {
    font-size: 1rem;
    margin: 0;
    margin-left: 20px;
}

.addIcon {
    margin-right: 20px;
    width: 20px;
    height: 100%;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.addIcon:hover {
    color: #66fcf1;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}