.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    font-size: calc(0.5em + 1vw);
    border-radius: 20px;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/***************************************************************
* Navigation styles
***************************************************************/
#focused {
    border-bottom: solid 3px #66fcf1;
}

.nav {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 0px 0px 10px 10px;
    border-top: solid 1px #45a29e;

    background-color: #1f2833;
}

.navBtn_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navBtn {
    padding: 15px;
    width: 15%;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.navBtn:hover {
    color: #a3a3a3;
}

.content {
    width: 100%;
}


/***************************************************************
* Profile Tab styles
***************************************************************/
.settings_container {
    /* height: 73vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profileHeader {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile_image {
    width: 200px;
    height: 200px;
    margin: 30px;
    background-color: #45a29e;
    border-radius: 100%;
}

.profileBody {
    font-size: 1.5rem;
}

.settings_section {
    width: 100%;
    background-color: #1f2833;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

.section_title {
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid #c5c6c7;
    width: 100%;
    margin-bottom: 20px;
}

.section_function {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit_btn {
    background-color: #1f2833;
    border: none;
    border-radius: 10px;
    font-size: calc(0.2em + 0.5vw);
    padding: 10px;
    width: 100px;
    color: white;
    box-shadow: 0px 0px 10px 1px #45a29e;
    cursor: pointer;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.edit_btn:hover {
    background-color: #45a29e;
    box-shadow: 0px 0px 20px 1px #45a29e;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

/***************************************************************
* Edit dropdown styling
***************************************************************/
#edit_mail_closed {
    opacity: 0;
    height: 0px;
    transform: scaleY(0);
    
    transition-timing-function: ease;
    transition-duration: 0.5s;
}

#edit_mail_open {
    opacity: 1;
    height: 130px;
    transform: scaleY(100%);

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

#edit_pass_closed {
    opacity: 0;
    height: 0px;
    transform: scaleY(0);
    
    transition-timing-function: ease;
    transition-duration: 0.5s;
}

#edit_pass_open {
    opacity: 1;
    height: 250px;
    transform: scaleY(100%);

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.edit_form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.edit_form input {
    outline: none;
    border: none;
    padding: 0.25em;
    padding-left: 10px;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    font-size: calc(0.1em + 1vw);
    font-family: 'Open Sans', sans-serif;
}

.edit_form button {
    background-color: #1f2833;
    border: none;
    border-radius: 10px;
    font-size: calc(0.2em + 0.5vw);
    padding: 10px;
    width: 100px;
    margin: 20px 20px 20px 0px;
    color: white;
    cursor: pointer;
}

.edit_cancel {
    box-shadow: 0px 0px 10px 1px #FF2323;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.edit_cancel:hover {
    background-color: #FF2323;
    box-shadow: 0px 0px 20px 1px #FF2323;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.edit_submit {
    box-shadow: 0px 0px 10px 1px #45a29e;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.edit_submit:hover {
    background-color: #45a29e;
    box-shadow: 0px 0px 20px 1px #45a29e;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.message {
    font-size: calc(0.2em + 0.5vw);
    color: #66fcf1;
}

.mopen {
    display: flex;
}

.mclosed {
    display: none;
}

.deleteAccBtn {
    background-color: #0b0c10;
    box-shadow: 0px 0px 10px 1px #FF2323;
    border: none;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 5px;
    cursor: pointer;
    font-size: calc(0.2em + 0.5vw);
    color: #FF2323;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.deleteAccBtn:hover {
    background-color: #FF2323;
    box-shadow: 0px 0px 20px 1px #FF2323;
    color: white;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.delete_confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.blur {
    width: 100vw;
    height: 100vh;
    background-image: url(../../public/images/blur.png);
    filter: opacity(0.8);
}

.delete_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f2833;
    padding: 30px;
    border-radius: 10px;
}

.delete_confirm h1 {
    font-size: calc(1em + 1vw);
    margin: 0;
}

.delete_confirm h2 {
    font-size: calc(0.1em + 1vw);
}

.deleteCancelBtn {
    background-color: #1f2833;
    box-shadow: 0px 0px 10px 1px #45a29e;
    border: none;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;   

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.deleteCancelBtn:hover {
    background-color: #45a29e;
    box-shadow: 0px 0px 20px 1px #45a29e;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.confirmDeleteBtn {
    background-color: #1f2833;
    box-shadow: 0px 0px 10px 1px #FF2323;
    border: none;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
    
    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.confirmDeleteBtn:hover {
    background-color: #FF2323;
    box-shadow: 0px 0px 20px 1px #FF2323;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

/***************************************************************
* Projects styles
***************************************************************/
.projects_container {
    width: 100%;
}

.project_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
}

.project_count {
    font-size: 1rem;
    margin: 0;
    margin-left: 20px;
}

.addIcon {
    margin-right: 20px;
    width: 20px;
    height: 100%;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.addIcon:hover {
    color: #66fcf1;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}