.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bodyContainer {
  width: 70%;
}

.big_hero_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vw;
  background-color: #1f2833;
  margin-top: 20px;
  box-shadow: 0px 0px 10px 1px #161212;
  color: white;
  border-radius: 5px;
}

.big_hero_centered h1 {
  font-size: calc(5em + 1vw);
  margin: 0;
}

.big_hero_centered p {
  font-size: calc(0.2em + 1vw);
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 30vw;
}

/******************************************************************************/
/* Link Cards
/******************************************************************************/
.linkCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 60%;
  margin: 30px;
  box-shadow: 0px 0px 10px 1px #45a29e;
  background-color: #1f2833;
  color: white;
  border-radius: 15px;
  text-align: center;
}

.linkCard h1 {
  font-size: calc(0.5em + 1vw);
  margin: 0;
  margin-top: 30px;
}

.linkCard p {
  width: 75%;
  font-size: calc(0.2em + 1vw);
}

.linkCard a {
  color: white;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px 1px #45a29e;
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  font-size: calc(0.2em + 1vw);

  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.linkCard a:hover {
  background-color: #45a29e;
  box-shadow: 0px 0px 20px 1px #45a29e;
  margin-bottom: 30px;

  transition-timing-function: ease;
  transition-duration: 0.5s;
}

@media only screen and (max-width: 1100px) {
  .bodyContainer {
    width: 90%;
  }

  .big_hero_centered {
    height: 100vw;
  }

  .big_hero_centered h1 {
    font-size: calc(3em + 1vw);
    text-align: center;
    margin: 0;
  }
  
  .big_hero_centered p {
    font-size: calc(0.9em + 1vw);
    text-align: center;
  }

  .links {
    height: 100%;
    margin-bottom: 30px;
  }

  .linkCard {
    height: 100%;
    margin: 0;
    margin-top: 30px;
  }

  .linkCard h1 {
    font-size: calc(1.5em + 1vw);
  }
  
  .linkCard p {
    font-size: calc(1em + 1vw);
  }
  
  .linkCard a {
    font-size: calc(1em + 1vw);
  }
}