.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bodyContainer {
  width: 70%;
}

.big_hero_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vw;
  background-color: #161212;
  margin-top: 20px;
  box-shadow: 0px 0px 10px 1px #161212;
  color: white;
  border-radius: 5px;
}

.big_hero_centered h1 {
  font-size: calc(5em + 1vw);
  margin: 0;
}

.big_hero_centered p {
  font-size: calc(0.2em + 1vw);
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30vw;
}

/******************************************************************************/
/* Link Cards
/******************************************************************************/
.linkCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 60%;
  margin: 30px;
  box-shadow: 0px 0px 10px 1px #161212;
  border-radius: 15px;
  text-align: center;
}

.linkCard h1 {
  font-size: calc(0.5em + 1vw);
  margin: 0;
  margin-top: 30px;
}

.linkCard p {
  width: 75%;
  font-size: calc(0.2em + 1vw);
}

.linkCard a {
  color: white;
  margin-bottom: 30px;
  background-color: #4c9f70;
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  font-size: calc(0.2em + 1vw);

  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.linkCard a:hover {
  background-color: #75BD94;

  transition-timing-function: ease;
  transition-duration: 0.5s;
}