.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: white;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 100%;
    font-size: calc(0.5em + 1vw);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.bodyContainer h1 {
    font-size: calc(1em + 1vw);
    margin: 0;
    margin-bottom: 20px;
}

.passwordResetContainer {
    width: 50%;
    text-align: center;
}

.error {
    text-align: center;
}

.error a{
    background-color: #1f2833;
    box-shadow: 0px 0px 10px 1px #45a29e;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 1em;
    margin-top: 30px;
    width: 100%;
    font-size: calc(0.01em + 1vw);

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.error a:hover {
    background-color: #45a29e;
    box-shadow: 0px 0px 20px 1px #45a29e;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.message {
    font-size: calc(0.2em + 0.5vw);
    text-align: center;
    margin-bottom: 15px;
}

.message p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #FB3741;
    height: 100%;
}

.mclosed {
    display: none;
}

.mopen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #FB3741;
    height: 100%;
}

.inputField {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 100%;
    height: 50px;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 18%;
    height: 100%;
    background-color: #45a29e;
    border-radius: 10px 0px 0px 10px;
}

.inputField input {
    width: 82%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 10px;
    border-radius: 0px 10px 10px 0px;
    font-size: calc(0.1em + 1vw);
    font-family: 'Open Sans', sans-serif;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.formButton {
    background-color: #1f2833;
    box-shadow: 0px 0px 10px 1px #45a29e;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 1em;
    margin-top: 30px;
    width: 100%;
    font-size: calc(0.01em + 1vw);

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.formButton:hover {
    background-color: #45a29e;
    box-shadow: 0px 0px 20px 1px #45a29e;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

@media only screen and (max-width: 1100px) {
    .main {
        height: 175vw;
    }

    .bodyContainer {
        width: 90%;
        justify-content: center;
    }

    .bodyContainer h1 {
        font-size: calc(3em + 1vw);
        text-align: center;
    }
    
    .passwordResetContainer {
        width: 100%;
    }

    .error a{
        font-size: calc(1.5em + 1vw);
    }

    .message {
        font-size: calc(1em + 1vw);
    }

    .loginForm {
        width: 100%;
    }

    .inputField input {
        font-size: calc(1.3em + 1vw);
    }

    .icon {
        font-size: calc(2em + 1vw);
    }

    .formButton {
        font-size: calc(1em + 1vw);
    }
}