.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    font-size: calc(0.5em + 1vw);
}

.big_hero_centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 11vw;
    width: 100%;
    background-color: #161212;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 1px #161212;
    color: white;
    border-radius: 5px;
}
  
.big_hero_centered h1 {
    font-size: calc(1.5em + 1vw);
    margin: 0;
}

.projectsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.projectCard {
    box-shadow: 0px 0px 10px 1px #161212;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8F8F8F;
    color: white;
    margin: 20px;
    cursor: pointer;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.projectCard:hover {
    background-color: #7A7A7A;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.projectTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3D3D3D;
    width: 100%;
    height: 20%;
    margin: 0;
    padding: 15px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.projectContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 90%;
}

.projectDesc {
    font-size: calc(0.4em + 0.5vw);
}

.cardFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.postNumber {
    font-size: calc(0.3em + 0.5vw);
}

.projectDate {
    font-size: calc(0.3em + 0.5vw);
}

@media only screen and (max-width: 1100px) {
    .bodyContainer {
        width: 90%;
    }

    .big_hero_centered {
        height: 20vw;
    }

    .big_hero_centered h1 {
        font-size: calc(3em + 1vw)
    }

    .projectsContainer {
        width: 100%;
    }

    .projectCard {
        width: 100%;
    }

    .projectTitle {
        font-size: calc(2em + 1vw);
    }

    .projectDesc {
        font-size: calc(1.3em + 1vw);
    }

    .postNumber {
        font-size: calc(0.75em + 1vw);
    }
    
    .projectDate {
        font-size: calc(0.75em + 1vw);
    }
}